@import 'variables';

.cart-link {
  position: relative;

  .cart-link__count {
    position: absolute;
    height: lh(0.8);
    width: lh(0.8);
    background-color: $red;
    color: $white;
    line-height: lh(0.85);
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    border-radius: 50%;
    top: lh(-0.1);
    right: lh(-0.8);
  }
}
