@import 'variables';

.main-footer {
  height: lh(4.5);
  padding-top: lh(1);
  padding-bottom: lh(1);
  padding-left: lh(1);
  padding-right: lh(1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-footer__item {
	display: flex;
	align-items: middle;
}

.main-footer__copyright {
	margin-left: lh(0.5);
}
