@import 'variables';

.product-list-item {
  position: relative;
	flex: 0 0 100%;
	text-decoration: none;
	color: #000;
	margin-bottom: lh(2);
	padding-left: lh(1);
	padding-right: lh(1);
	text-align: center;

	@media (min-width: $mq-small) {
		flex: 0 0 50%;
	}

	@media (min-width: $mq-medium) {
		flex: 0 0 33.333%;
    margin-bottom: lh(3);
	}

	@media (min-width: $mq-large) {
		flex: 0 0 25%;
	}

	.product-list-item__image-container {
		width: 100%;
    max-width: 100%;
    max-height: 100%;
		padding-top: 50%;
		padding-bottom: 50%;
		margin-bottom: lh(0.5);
    position:relative;
	}

	.product-list-item__image {
    transition: transform 200ms;
    -webkit-backface-visibility: hidden;

    height:100%;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    margin: auto;
    position:absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    display: block;
    object-fit: contain;
	}

	&:hover {
		.product-list-item__image {
      transform: scale(1.01);
		}
	}

  .product-list-item__status {
    position: absolute;  
    display: flex;
    top: lh(-1);
    right: 0;
    background-color: $yellow;
    color: $black;
    box-sizing: content-box;
    padding-left: lh(0.5);
    padding-right: lh(0.5);
    width: lh(2);
    height: lh(2.6);
    padding-bottom: lh(0.4);
    line-height: 1.1;
    border-radius: lh(1.75);
    align-items: flex-end;
    font-size: 12px;
    -webkit-backface-visibility: hidden;

    span {
      font-size: 50px;
      font-weight: 800;
      position: absolute;
      top: 33%;
      left: 55%;
      transform: translateX(-50%) translateY(-50%) rotate(90deg);
    }
  }

  .product-list-item__title {
    position: relative;
    z-index: 1;
  }
}
