$golden-ratio: 1.618;
$font-size: 18px;
$line-height: $golden-ratio * 1rem;

@function lh($n){
  @return $n * $line-height;
}

$mq-mobile-header: 640px;
$mq-small: 540px;
$mq-medium: 1020px;
$mq-large: 1600px;

$white: #FFF;
$black: #000;
$grey-dark: #888;
$grey: #AAA;
$grey-light: #BBB;
$blue: #3949AB;
$blue-light: #3F51B5;
$blue-dark: #283593;
$red: #F44336; 
$purple: #7B1FA2;
$yellow: #FFEB3B;

$cart-right-padding: 6rem;
