<div class="cart">
  <div class="cart__header">
    <h1 class="cart-header__title">Cart</h1>
  </div>

  {% if cart.item_count > 0 %}
    <form method="post" action="/cart">
      <div class="cart-item-listing">
        {% for item in cart.items %}
          <div class="cart-item">
            <div class="cart-item__details">
              <a href="{{ item.product.url }}">
                <img class="cart-item__image" src="{{ item.product.image | product_image_url | constrain: '-', '200' }}" />
              </a>
              <div>
                <a class="cart-item__name" href="{{ item.product.url }}">
                  <h1>{{ item.name }}</h1>
                </a>
              </div>
            </div>
            <div class="cart-item__controls-container">
              <div class="cart-item__controls">
                <div class="cart-item__unit-price">{{ item.unit_price | money_with_sign }} &times;</div>
                <a class="cart-item__remove-control">-</a>
                <div class="cart-item__quantity">
                  {{ item | item_quantity_input }}
                </div>
                <a class="cart-item__add-control">+</a>
                &nbsp; =
              </div>
              <div class="cart-item__pricing">
                <div class="cart-item__price">{{ item.price | money_with_sign }}</div>
              </div>
            </div>
            <div class="cart-item__remove-container">
              <a href="#" class="cart-item__remove remove">Remove</a>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="cart-footer">
        <div class="cart-footer__total-price"><span class="cart-footer__label">Total:</span>{{ cart.total | money_with_sign }}</div>
        <button class="checkout-button" type="submit" name="checkout" title="Checkout">Checkout</button>
      </div>
    </form>
  {% else %}
    <div class="cart-item-listing cart-item-listing--empty">
      Your cart is empty.
    </div>
  {% endif %}
</div>
