{% if products.all != blank %}
  <div class="product-listing">
    {% for product in products.all %}
      <a class="product-list-item" href="{{ product.url }}">
        <div class="product-list-item__image-container">
          <img class="product-list-item__image" alt="Image of {{ product.name | escape }}" src="{{ product.image | product_image_url | constrain: '-', '800'  }}">
        </div>
        <h1 class="product-list-item__title">{{ product.name }}</h1>
        <i>{{ product.default_price | money_with_sign }}</i>
        {% if product.on_sale %}
          <em>On Sale</em>
        {% endif %}
      </a>
    {% endfor %}
  </div>
{% else %}
  <p>No products found.</p>
{% endif %}
