<!DOCTYPE html>
<html>
  <head>
    <title>Really Easy Press</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ theme | theme_css_url }}" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="page-container">
      <header class="main-header">
        <a href="/" class="main-header__link">
          <img class="main-header__logo" src="/images/easy-logo.svg" alt="Easy Press Logo" />
        </a>
      	<input type="checkbox" id="main-header__mobile-toggle-input" name="mobile-toggle" />
      	<div class="main-header__mobile-toggle-container">
      		<label class="main-header__mobile-toggle" for="main-header__mobile-toggle-input">
      			<span></span>
      			<span></span>
      			<span></span>
      			<span></span>
      		</label>
      		<nav class="main-header__navigation">
      			<a href="/" class="main-header__link {% if page.name == 'Home' %}active{% endif %}">Products</a>
            {% for link_page in pages.all %}
            <a href="{{ link_page.url }}" class="main-header__link {% if page.name == link_page.name %}active{% endif %}">{{ link_page.name }}</a>
            {% endfor %}
            <a class="main-header__link {% if page.name == 'Cart' %}active{% endif %}" href="/cart">
              Cart 
              {% if cart.item_count != 0 %}
                ({{ cart.item_count }})
              {% endif %}
            </a>
            <a href="https://www.instagram.com/really.easy.press/" class="social-media-link">
              <img src="/images/instagram-logo.svg" class="social-media-link__icon" />
            </a>
            <a href="https://www.facebook.com/Easy-Press-543600772457025" class="social-media-link">
              <img src="/images/facebook-logo.svg" class="social-media-link__icon" />
            </a>
      		</nav>
      	</div>
      </header>

      {% if errors != blank %}
        <ul>
          {% for error in errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      <section class="main-section">
        {{ page_content }}
      </section>
    </div>

    <footer class="main-footer">
    	<div class="main-footer__item">
    		<a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" class="creative-commons">
    			<img src="/images/by.svg" class="creative-commons__icon" />
    			<img src="/images/nc.svg" class="creative-commons__icon" />
    			<img src="/images/nd.svg" class="creative-commons__icon" />
    		</a>
        <div class="main-footer__copyright">2018 Really Easy Press</div>
    	</div>
    </footer>
    <script>
      if (!Element.prototype.matches)
          Element.prototype.matches = Element.prototype.msMatchesSelector || 
                                      Element.prototype.webkitMatchesSelector;

      if (!Element.prototype.closest)
          Element.prototype.closest = function(s) {
              var el = this;
              if (!document.documentElement.contains(el)) return null;
              do {
                  if (el.matches(s)) return el;
                  el = el.parentElement || el.parentNode;
              } while (el !== null && el.nodeType === 1); 
              return null;
          };

      var cart = document.querySelector('.cart');

      if (cart) {
        var cartForm = cart.querySelector('form');

        var removeCartItem = function (cartItem) {
          var quantityInput = cartItem.querySelector('input[id$=_qty]');
          
          quantityInput.value = 0;
          
          cartForm.submit();
        };

        var incrementCartItem = function (cartItem) {
          var quantityInput = cartItem.querySelector('input[id$=_qty]');
          
          quantityInput.value = parseInt(quantityInput.value) + 1;
          
          cartForm.submit();
        };

        var decrementCartItem = function (cartItem) {
          var quantityInput = cartItem.querySelector('input[id$=_qty]');
          
          quantityInput.value = parseInt(quantityInput.value) - 1;
          
          cartForm.submit();
        };

        cart.addEventListener('click', function (event) {
          event.preventDefault()

          var cartItemRemoveLink = event.target.closest('.cart-item__remove');
          var cartItemIncrementLink = event.target.closest('.cart-item__add-control');
          var cartItemDecrementLink = event.target.closest('.cart-item__remove-control');

          if (cartItemRemoveLink) {
            removeCartItem(cartItemRemoveLink.closest('.cart-item'));
          }

          if (cartItemIncrementLink) {
            incrementCartItem(cartItemIncrementLink.closest('.cart-item'));
          }

          if (cartItemDecrementLink) {
            decrementCartItem(cartItemDecrementLink.closest('.cart-item'));
          }
        });
      }
    </script>
  </body>
</html>
