<div class="product-page">
  <div class="product-page__slideshow">
    <div class="slideshow">
      {% for image in product.images %}
        <input
          class="slideshow__item-input"
          type="radio"
          id="slideshow__item--{{ forloop.index | minus: 1 }}"
          name="slide"
          {% if forloop.first %}checked="checked"{% endif %}
        />
        <div class="slideshow__item">
          {% if forloop.last %}
            <label for="slideshow__item--0">
              <img 
                class="slideshow__image"
                src="{{ image | product_image_url | constrain: '-', '1200' }}"
                alt="Image of {{ product.name | escape }}"
              />
            </label>
          {% else %}
            <label for="slideshow__item--{{ forloop.index }}">
              <img
                class="slideshow__image"
                src="{{ image | product_image_url | constrain: '-', '1200' }}"
                alt="Image of {{ product.name | escape }}"
              />
            </label>
          {% endif %}

          {% if forloop.first %}
            {% unless forloop.last %}
              <label for="slideshow__item--{{ product.image_count | minus: 1 }}" class="slideshow__previous">&#8592;</label>
            {% endunless %}
          {% else %}
            <label for="slideshow__item--{{ forloop.index | minus: 2 }}" class="slideshow__previous">&#8592;</label>
          {% endif %}

          {% if forloop.last %}
            {% unless forloop.first %}
              <label for="slideshow__item--0" class="slideshow__next">&#8594;</label>
            {% endunless %}
          {% else %}
            <label for="slideshow__item--{{ forloop.index }}" class="slideshow__next">&#8594;</label>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="product-page__overview">
    <h1 class="product__title">{{ product.name }}</h1>

    {% if product.description != blank %}
      {{ product.description | paragraphs }}
    {% endif %}

    {% case product.status %}

      {% when 'sold-out' %}
        <h5>{{ product.default_price | money_with_sign }} <em>Sold Out</em></h5>

      {% when 'coming-soon' %}
        <h5>{{ product.default_price | money_with_sign }} <em>Coming Soon</em></h5>

      {% when 'active' %}
        <h5>{{ product.default_price | money_with_sign }}{% if product.on_sale %} <em>On Sale{% endif %}</em></h5>

        <div>
          {% if product.option.sold_out %}
            Sold Out
          {% else %}
            {{ product.option.quantity }} Remaining
          {% endif %}
        </div>

        <form method="post" action="/cart">
          {{ product.option | hidden_option_input }}

          <button class="add-to-cart-link" name="submit" type="submit" title="Add to Cart">Add to Cart</button>
        </form>
    {% endcase %}
  </div>
</div>
